extend layout
block content
	p
		| This is a small test site which I am using to learn about node.js, you probably didn't actually want to be here.
	p
		| This is some other text, I don't really have a lot to say here
		| but I am going to ramble on anyway, because I mean, why
		| not? It's all part of the fun. You kinda need some words on 
		| a website for there to be any point to it at all so I guess
		| all I'm really doing here is adding some words so it looks a bit
		| like there is some content here but there really isn't.
	p
		button.action(data-click-counter=0) Press count: 0
		
block sidebar
	.widget
		h1 Widget
		p
			| This is a little widget thingy. That's
			| cute, isn't it?
		p
			| Here's a placehold.it image:
		p
			img(src="http://placehold.it/250x250")